/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}

/* Put picture left and text right */
.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* image on the left */
.left-side {
    flex: 1;
    text-align: center;
}

/* text on the right */
.right-side {
    flex: 1;
    text-align: left;
}

#profile-img {
    width: 180px;
    border-radius: 50%;
}

