/* hero layout */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.hero-left {
    width: 60%;
}

.hero-left h2 span {
    color: orange; 
}

.hero-right {
    width: 40%;
    text-align: right;
}

.hero-right img {
    width: 250px;
    border-radius: 50%;
}

/* Responsive for mobile */
@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-left, .hero-right {
        width: 100%;
    }

    .hero-right img {
        width: 180px;
    }
}
